<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="boardns">

<insert id="insertid" parameterType="kh.spring.s02.board.model.vo.BoardVo">
	insert into board value
	(
		(select NVL(MAX(BOARD_NUM), 0)+1 from board)
		, #{boardTitle}
		, #{boardWriter}
		, #{boardContent}
		, #{boardOriginalFilename}
		, #{boardRenameFilename}
		, default
		, default
		, (select NVL(MAX(BOARD_NUM), 0)+1 from board)
		, default
		, default
	)
</insert>
<update id="updateid">
	update board set
	    board_title = #{boardTitle}
	  , board_Content = #{boardContent}
	  , board_Original_Filename = #{boardOriginalFilename}
	  , board_Rename_Filename = #{boardRenameFilename}
	  , board_Date = SYSDATE
	  where board_Num = #{boardNum}
</update>
<update id="updateReadCount">
	update board set
	    board_Readcount = board_Readcount +1
   	    where board_Num = #{boardNum}
</update>
<update id="updateForRelpy">
	update board set board_reply_seq = board_reply_seq+1
	where
	board_reply_seq > (select board_reply_seq from board where board_num = #{boardNum})
	and board_ref = (select board_ref from board where board_num = #{boardNum})
</update>
<delete id="deleteid">
	select * from board where board_Num = #{boardNum}
</delete>
<select id="selectOneid" resultType="kh.spring.s02.board.model.vo.BoardVo">
	select * from board where board_Num = #{boardNum}
</select>
<select id="selectListid" resultType="kh.spring.s02.board.model.vo.BoardVo">
	select * from board
</select>
<select id="selectOneCount" resultType="string">
	select count(*) cnt from board
</select>
<!-- 
<select id="selectListid2">
	select * from board
</select>
 -->
</mapper>
